<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridge4biz.laundry.cleanbasket_androidver2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".CleanBasketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZKFOKZSYxzTMqwbtwE32hu0mMXaKgv5s" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="43e88b789b9958cdf24efdd2dbb6f2bbba5796fe" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="19f09ac8ea028d946a0608f5a34ed2c3" />

        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.OrderDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".activities.SearchMapActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TimePickerActivity" />
        <activity
            android:name=".activities.ServiceIntroActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".activities.OrderItemDetailActivity" />
        <activity android:name=".activities.ItemListActivity" />
        <activity
            android:name=".auth.KakaoRegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".activities.AddressManageActivity" />
        <activity android:name=".activities.OrderCompleteActivity"></activity>
    </application>

</manifest>
